# Supabase Configuration
VITE_SUPABASE_URL=https://fuufzusquyjcrwweisdx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dWZ6dXNxdXlqY3J3d2Vpc2R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NTM0OTgsImV4cCI6MjA5MDAyOTQ5OH0.LRtbRVa6_Jt-qj4NGnNgm-lOJuIbxojWPGuXHaq5w7s
